@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
#Home{
    width: 100%;
    height: 700px;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, hsla(41, 92%, 53%, 0.603), hsla(6, 89%, 51%, 0.623)),url(images/goku.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsl(41, 92%, 53%), hsl(6, 89%, 51%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



.logo{
    font-family: 'The Nautigal', cursive;
    font-size: 30px;
    font-weight: 700;
    padding: 0 60px;
    text-decoration: none;
}

.nav-a{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 19.5px;
}

.nav-a img{
    height: 1.3em;
    width: 1.3em;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 3px;
}

.sticky {
    transition: all .3s ease-out 0s!important;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, hsla(41, 92%, 53%, 0.603), hsla(6, 89%, 51%, 0.623)),url(images/goku.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsl(41, 92%, 53%), hsl(6, 89%, 51%));
}

.azul {
    background:rgba(255, 255, 255, 0.432);
}

#nav-aa{
    position: relative;
    text-decoration: none;
}

#nav-aa::hover{
    color: rgba(0,0,0,.4);
    outline: none;
}

#nav-aa:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 4px;
    bottom: 8px;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s;
    border-radius: 5px;
  }

#nav-aa:hover:before,
#nav-aa:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }

#nav-aa:active{
    color: red;
}


/* WAVE */
.custom-shape-divider-bottom-1642442524 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642442524 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 158px;
}

.custom-shape-divider-bottom-1642442524 .shape-fill {
    fill: #FFFFFF;
}