@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body::-webkit-scrollbar{
    width: 7px;
    background: white;
}

body::-webkit-scrollbar-thumb{
    background-color: orange;
    background-image:-webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
    border-radius: 10px;
}

#scroll{
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#home{
    overflow-x: hidden;
    width: 100%;
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#about{
    overflow-x: hidden;
    width: 100%;
    background: white;
}

#education{
    overflow-x: hidden;
    width: 100%;
    background-image: linear-gradient(to top right, #4facfe 0%, #00f2fe 100%);
    position: relative;
}

#skills{
    overflow-x: hidden;
    width: 100%;
    background: white;
}

#projects{
    overflow-x: hidden;
    width: 100%;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: relative;
}

#resume{
    overflow-x: hidden;
    width: 100%;
    background: white;
    position: relative;
}

#contact{
  overflow-x: hidden;
  width: 100%;
  background-image: linear-gradient(to  right, #000000 0%, #0fe032 100%);
  position: relative;
}

#logo{
    font-family: 'The Nautigal', cursive;
    font-size: 30px;
    font-weight: 700;
    padding: 0;
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

.nav-a{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 19.5px;
}

.nav-a img{
    height: 1.3em;
    width: 1.3em;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 3px;
}

.sticky {
    transition: all .3s ease-out 0s!important;
}

.efectoTransparente {
    background:rgba(85, 76, 75, 0.637);
}

.efectoNaranja {
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.efectoAzul {
  background-image: linear-gradient(to top right, #4facfe 0%, #00f2fe 100%);
}

.efectoAzulFuerte{
  background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#nav-aa{
    position: relative;
    text-decoration: none;
    color: white;
}

#nav-aa::hover{
    color: rgba(0,0,0,.4);
    outline: none;
}

#nav-aa:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 4px;
    bottom: 8px;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s;
    border-radius: 5px;
  }

#nav-aa:hover:before,
#nav-aa:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }

/* Section Home */
.home-content{
    padding: 1rem 0 1.4rem;
    padding-left: 30px;
    color: #f5f5f5;
    text-align: left;
    }

#imagenHome{
    max-width: 100%;
    width: auto;
    height: 100%;
}

/* Section About */
.about-content{
    padding: 4rem 0 1.4rem;
    padding-left: 30px;
    text-align: left;
    /*overflow: hidden;*/
    }

#parrafoAbout{
    font-size: 28px;
    color: black;  /* fallback for old browsers */
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

#parrafoAbout a{
    font-size: 28px;
    color: #FF8008;  /* fallback for old browsers */
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

#imagenAbout{
    max-width: 100%;
    width: auto;
    height: 100%;
}

/* Section Skills */
.skills-content{
    padding: 4rem 0 1.4rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    }

#skills h1{
    color:#4facfe;
    text-align: center;
    margin-bottom: 20px;
    font-size:50px;
    text-shadow: 1px 1px 2px black;
}

/* Section Projects */
.project-content{
    padding: 8rem 0 1.4rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    padding-bottom: 200px;
    }

#projects h1{
    color:rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
    font-size:50px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* Section Resume */
.resume-content{
    padding: 0 0 1.4rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

#resume h1{
    color:#004e92;
    text-align: center;
    margin-bottom: 20px;
    font-size:50px;
    text-shadow: 1px 1px 2px black;
}

#resume img {
    margin:2px 2px;
    border-radius: 15px;
    background: linear-gradient(145deg, #f0f6fc, #f4f9fd, #feffff);
    box-shadow:  10px 10px 8px #004e92,-2px -2px 8px #c2c6c7;
    transition: transform .2s;
  }

/* Section Contact */
.contact-content{
  padding: 5rem 0 1.4rem;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

#contact h1{
  color:white;
  text-align: center;
  margin-bottom: 20px;
  font-size:50px;
  text-shadow: 1px 1px 2px black;
}

#contact img {
  margin:10px 2px;
  width: 50%;
  transition: transform 1s;
}

#contact img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


/* Wave Opacity*/
.custom-shape-divider-bottom-1642442524 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642442524 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 158px;
}

.custom-shape-divider-bottom-1642442524 .shape-fill {
    fill: #FFFFFF;
}

/* Wave Triangle */
.custom-shape-divider-top-1642493106 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1642493106 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 113px;
}

.custom-shape-divider-top-1642493106 .shape-fill {
    fill: #FFFFFF;
}

/* Wave Book */
.custom-shape-divider-bottom-1642719256 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642719256 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 149px;
}

.custom-shape-divider-bottom-1642719256 .shape-fill {
    fill: #FFFFFF;
}

.round{
    width: 200px;
    height: 200px;
    top: 15px;
    border-radius: 50%;
    background:red;
    opacity: 0.1;
    position: absolute;
}

/* Wave top projects*/
.custom-shape-divider-top-1642802362 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1642802362 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 109px;
}

.custom-shape-divider-top-1642802362 .shape-fill {
  fill: #FFFFFF;
}

/* Wave opacity resume*/

.custom-shape-divider-bottom-1642746153 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642746153 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 206px;
}

.custom-shape-divider-bottom-1642746153 .shape-fill {
    fill: #FFFFFF;
}

/* Wave contact */
.custom-shape-divider-top-1642829448 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1642829448 svg {
  position: relative;
  display: block;
  width: calc(157% + 1.3px);
  height: 140px;
}

.custom-shape-divider-top-1642829448 .shape-fill {
  fill: #FFFFFF;
}

/* TIMELINE */
@media (min-width: 1000px) {
    /* Some Cool Stuff */  #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }
    #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      background: rgb(16, 41, 58);
      box-shadow: 0px 0px 2px 8px #f7f7f7;
      transform: rotate(45deg);
    }
  }
  .demo-card:nth-child(1) {
    order: 1;
  }
  .demo-card:nth-child(2) {
    order: 4;
  }
  .demo-card:nth-child(3) {
    order: 2;
  }
  .demo-card:nth-child(4) {
    order: 5;
  }
  .demo-card:nth-child(5) {
    order: 3;
  }
  .demo-card:nth-child(6) {
    order: 6;
  }
  * {
    box-sizing: border-box;
    /* Fonts */
  }
  
  #timeline {
    width: 100%;
    background-image: linear-gradient(to top right, #4facfe 0%, #00f2fe 100%);
    position: relative;
    padding-top: 150px;
    overflow-x: hidden;
  }
  #timeline h1 {
    color:white;
    text-align: center;
    margin-bottom: 20px;
    font-size:65px;
    text-shadow: 1px 1px 2px black;
  }
  #timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
    font-family: 'Raleway', sans-serif;
  }
  #timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
  }
  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
      display: flex;
      flex-flow: column wrap;
      width: 1170px;
      height: 1290px;
      margin: 0 auto;
    }
  }
  #timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
    background-color: white;
  }
  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
      border-left: 2px solid #ffffff;
    }
  }
  #timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
  }
  @media (min-width: 480px) {
    #timeline .demo-card {
      max-width: 60%;
      box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
  }
  @media (min-width: 720px) {
    #timeline .demo-card {
      max-width: 40%;
    }
  }
  @media (min-width: 1000px) {
    
    #timeline .demo-card:nth-child(odd) {
      margin-right: 45px;
    }
    #timeline .demo-card:nth-child(odd) .head::after {
      border-left-width: 20px;
      border-left-style: solid;
      left: 100%;
    }
    #timeline .demo-card:nth-child(odd) .head::before {
      left: 509px;
    }
    #timeline .demo-card:nth-child(even) {
      margin-left: 45px;
    }
    #timeline .demo-card:nth-child(even) .head::after {
      border-right-width: 20px;
      border-right-style: solid;
      right: 100%;
    }
    #timeline .demo-card:nth-child(even) .head::before {
      right: 509px;
    }
    #timeline .demo-card:nth-child(2) {
      margin-top: 180px;
    }
  }
  #timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
  }
  #timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 15px;
    padding: 10px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
  }
  #timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: inherit;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 6px;
    line-height: 1.5rem;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 {
      font-size: 165%;
      line-height: 1.5rem;
    }

    #timeline {
        padding: 150px 0;
      }
  }

  @media (max-width:480px) {
    #timeline {
        overflow-x: hidden;
        padding: 150px 0;
      }
  }

  #timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
      font-size: 0.8rem;
    }
  }
  #timeline .demo-card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
  }
  @media (min-width: 1000px) {
    #timeline .demo-card .body {
      height: auto;
    }
  }
  #timeline .demo-card .body p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
  }
  #timeline .demo-card .body img {
    display: block;
    width: 100%;
  }
  #timeline .demo-card--step1 {
    background-color: #46b8e9;
  }
  #timeline .demo-card--step1 .head::after {
    border-color: #46b8e9;
  }
  #timeline .demo-card--step2 {
    background-color: #8fe72a;
  }
  #timeline .demo-card--step2 .head::after {
    border-color: #8fe72a;
  }
  #timeline .demo-card--step3 {
    background-color: #ce43eb;
  }
  #timeline .demo-card--step3 .head::after {
    border-color: #ce43eb;
  }
  #timeline .demo-card--step4 {
    background-color: #FE4F55;
  }
  #timeline .demo-card--step4 .head::after {
    border-color: #FE4F55;
  }
  #timeline .demo-card--step5 {
    background-color: #46b8e9;
  }
  #timeline .demo-card--step5 .head::after {
    border-color: #46b8e9;
  }

  /* Fin Timeline */
  
  #card {
    margin:20px 4px;
    border-radius: 15px;
    background: white;
    box-shadow:  10px 10px 8px #30699b,-2px -2px 8px #c2c6c7;
    transition: transform .2s;
  }

  #card:hover{
    transform: scale(1.5);
  }

  .redondo{
    width: 100px;
    height: 100px;
    top: 80px;
    border-radius: 50%;
    background:rgba(255, 255, 255, 0.473);
    position: absolute;
    padding: 20px;
}

/* Boton Neon*/

.btn-neon{
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    background: #004e92;
    box-shadow: 0 0 10px #1a5c25;
    transition-delay: 0.2s;
    color: white;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
}
.btn-neon:hover{
    background: #004e92;
    box-shadow: 0 0 10px #004e92, 0 0 40px #004e92, 0 0 80px #004e92;
    transition-delay: 0.2s;
    color: white;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a2cbf1);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a2cbf1);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a2cbf1);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a2cbf1);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


#card-project {
    margin:20px 4px;
    border-radius: 15px;
    background: linear-gradient(145deg, #f0f6fc, #f4f9fd, #feffff);
    box-shadow:  5px 5px 8px #e2e9e2;
    transition: transform .2s;
    height: auto;
  }

  #div-project {
    width:100%;
    height:50%;
  }

  #description-project {
    color: black;
    transition: transform .2s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  #description-project h3{
    padding:10px 30px;
    padding-bottom: 2px;
  }

  #description-project p{
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    padding:20px 30px;
    padding-top:2px;
  }
  
  .fadeTop {
    opacity: 0; 
    transform: translate(0, 100%);
    transition: all 1s;
  }

  .fadeBottom {
    opacity: 0; 
    transform: translate(0, -100%);
    transition: all 1s;
  }
  
  .fadeRight {
    opacity: 0;
    transform: translate(200%, 0) skewX(-30deg);
    transition: all 1s;
  }

  .fadeLeft {
    opacity: 0;
    transform: translate(-200%, 0) skewX(30deg);
    transition: all 1s;
  }

  .zoomIn {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    transition: all 1s;
  }

  .flipY {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
    animation-timing-function: ease-in;
    transition: all 1s;
    transition-duration: 30s;
    animation-duration: 30s;
  }

  
  .visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  